@font-face {
  font-family: 'gothica1-bold';
  src: url('../media/fonts/gothica1-bold.eot'); /* IE9+ Compat Modes */
  src: url('../media/fonts/gothica1-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../media/fonts/gothica1-bold.woff2') format('woff2'), /* Super modern browsers */
  url('../media/fonts/gothica1-bold.woff') format('woff'), /* Modern browsers */
  url('../media/fonts/gothica1-bold.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'gothica1-medium';
  src: url('../media/fonts/gothica1-medium.eot'); /* IE9+ Compat Modes */
  src: url('../media/fonts/gothica1-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../media/fonts/gothica1-medium.woff2') format('woff2'), /* Super modern browsers */
  url('../media/fonts/gothica1-medium.woff') format('woff'), /* Modern browsers */
  url('../media/fonts/gothica1-medium.ttf') format('truetype') /* Safari, Android, iOS */
}
@font-face {
  font-family: 'gothica1-regular';
  src: url('../media/fonts/gothica1-regular.eot'); /* IE9+ Compat Modes */
  src: url('../media/fonts/gothica1-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../media/fonts/gothica1-regular.woff2') format('woff2'), /* Super modern browsers */
  url('../media/fonts/gothica1-regular.woff') format('woff'), /* Modern browsers */
  url('../media/fonts/gothica1-regular.ttf') format('truetype') /* Safari, Android, iOS */
}